<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="../static/css/styl.css" th:href="@{/css/styl.css}" rel="stylesheet"/>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div id="content" align="center">
    <h2>PANEL WŁAŚCIELA SALONU</h2>
    <div th:replace="fragments/logo :: logo"></div>
    <div style="height:250px;margin: auto">
        <div>
            DODAJ NOWY SALON FRYZJERSKI
            <form th:action="@{/owner/processHairSalonAdd}" th:object="${hairSalonDto}" method="post">
                <div class="form-group">
                    <label> Salon Name : </label>
                    <!--                    <div th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}">Username Error</div>-->
                    <input type="text" th:field="*{salonName}" class="form-control" name="salonName"/>
                </div>
                <div class="form-group">
                    <label> Salon City : </label>
                    <!--                    <div th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}">Username Error</div>-->
                    <input type="text" th:field="*{city}" class="form-control" name="city"/>
                </div>
                <div class="form-group">
                    <label> Salon Street : </label>
                    <!--                    <div th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}">Username Error</div>-->
                    <input type="text" th:field="*{salonAddress}" class="form-control" name="salonAddress"/>
                </div>
                <div class="form-group">
                    <label> Phone Number : </label>
                    <!--                    <div th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}">Username Error</div>-->
                    <input type="text" th:field="*{phoneNumber}" class="form-control" name="phoneNumber"/>
                </div>

                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <td>Dzień</td>
                        <td>Wybierz</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="dayOfWeek,itemStat: ${daysOfWeek.days}">
                        <td><p th:text="${dayOfWeek.dayName}"></td>
<!--                        <input type="hidden" th:field="${daysOfWeek.days[__${itemStat.index}__].dayName}"/>-->
<!--                        <td><input type="checkbox" th:field="${daysOfWeek.days[__${itemStat.index}__].day}" th:value="${daysOfWeek.days[__${itemStat.index}__].day}" name="days"></td>-->
                        <td><input type="checkbox" th:field="${daysOfWeek.days[__${itemStat.index}__].dayName}" th:value="${daysOfWeek.days[__${itemStat.index}__].dayName}"></td>
                    </tr>


                    </tbody>
                </table>

                <div class="form-group">
                    <label>Godzina otwarcia salonu: </label>
                    <input type="time" th:field="${openingHours.salonOpenHour}" class="time-input form-control"
                           name="salonOpenHour"/>
                </div>
                <div class="form-group">
                    <label>Godzina zamknięcia salonu: </label>
                    <input type="time" th:field="${openingHours.salonCloseHour}" class="time-input form-control"
                           name="salonCloseHour"/>
                </div>
                <div class="form-group">
                    <input type="submit" value="Dodaj Salon"/>
                </div>
            </form>


        </div>
    </div>
</div>

<!--<div th:replace="fragments/footer :: footer"></div>-->
</body>
</html>