<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="../static/css/styl.css" th:href="@{/css/styl.css}" rel="stylesheet"/>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div id="content" align="center">
    <h2>WELCOME TO OUR HAIR SALON</h2>
    <div th:replace="fragments/logo :: logo"></div>
    <h4>THIS IS LIST OF HAIR SALONS</h4>
    <div align="right">
        <a class="button btn btn-primary" th:href="@{/owner/showSalonAddPage}">Nowy salon</a>
    </div>
    <table class="table table-bordered table-striped" width="70%">
        <thead class="thead-dark">
        <tr>
            <th>Id</th>
            <th>Nazwa</th>
            <th>Miasto</th>
            <th>Adres</th>
            <th>Numer</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="temp : ${hairSalons}">
            <td th:text="${temp.getId()}"/>
            <td th:text="${temp.getSalonName()}"/>
            <td th:text="${temp.getCity()}"/>
            <td th:text="${temp.getSalonAddress()}"/>
            <td th:text="${temp.getPhoneNumber()}"/>


        </tr>
        </tbody>
    </table>
</div>


<div th:replace="fragments/footer :: footer"></div>
</body>
</html>