<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="../static/css/styl.css" th:href="@{/css/styl.css}" rel="stylesheet"/>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div id="content" align="center">
    <h2>ZARZĄDZAJ SWOIM SALONEM</h2>
    <div th:replace="fragments/logo :: logo"></div>
    <div>
        <h4>TUTAJ MOŻESZ ZARZĄDZAĆ SWOIM SALONEM FRYZJERSKIM</h4>
        <div>
            <a th:href="@{/hairsalon/salonHairdressers?id={id}(id=${id})}" class="button btn btn-primary">Pracownicy salonu</a>
        </div>
        <div>
            <a th:href="@{/}" class="button btn btn-secondary" style="pointer-events: none">Rezerwacje w salonie</a>
        </div>
        <div>
            <a th:href="@{/hairsalon/salonServices?id={id}(id=${id})}" class="button btn btn-primary">Usługi salonu</a>
        </div>
        <div>
            <a th:href="@{/}" class="button btn btn-secondary" style="pointer-events: none">Oceny salonu</a>
        </div>
        <div>
            <a th:href="@{/}" class="button btn btn-secondary" style="pointer-events: none">Klienci salonu</a>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>